.calendar-container {
    height: 390px;
    width: 766px;
    overflow: hidden;
    padding: 10px;
}

.left-slider,
.right-slider {
    position: absolute;
    top: 11px;
    padding: 0;
    border: 0;
    z-index: 1;
    width: 24px;
    height: 24px;
    text-align: center;
    cursor: pointer;
}

.left-slider {
    opacity: .4;
    background-color: transparent;
    left: 8px;
}

.right-slider {
    opacity: .4;
    background-color: transparent;
    right: -3px;
}



.left-slider-layoutm.right-slider-layout {
    display: inline-block;
    margin: 0 auto;
}


.left-slider-layout {
    background-image: url(https://d1u069vtk5j1z6.cloudfront.net/flightswebservice/build/desktop/images/desktop_common_icons.a4fd6515.png);
    width: 10px;
    height: 14px;
    background-position: -34px -94px;
}

.right-slider-layout {
    background-image: url(https://d1u069vtk5j1z6.cloudfront.net/flightswebservice/build/desktop/images/desktop_common_icons.a4fd6515.png);
    width: 10px;
    height: 14px;
    background-position: 65px -94px;
}


.inner-calendar-layout {
    z-index: 2;
    display: flex;
    position: relative;
}

.calendar-dates {
    flex: 0 0 50%;
    height: 353px;
    padding: 0 10px;
    box-sizing: border-box;
}

.month-name {
    padding: 10px 15px;
}

.month-name>p {
    margin: 0;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
}

.weeks {
    margin-top: 12px;
    display: flex;
    border-bottom: 1px solid #e7e7e7;
}


.weekdays,
.weekends {
    color: #555;
    padding: 8px;
    flex: 0 0 52px;
    box-sizing: border-box;
    font-size: 11px;
    text-align: center;
}

.weekends {
    color: #f5a623;
    background-color: #fff5e8;
}

.day-number {
    position: relative;
}

.weekend-dates {
    position: absolute;
    background-color: #fff5e8;
    height: 100%;
    z-index: -1;
    width: 104px;
    top: 0;
    right: 0;
}

.day-grid {
    display: grid;
    grid-template-columns: repeat(7, 52px);
    grid-template-rows: repeat(6, 46px);
    font-size: 13px;
}

.blackout-dates {
    color: #767676;
    opacity: 0.5
}


.day-grid>div {
    padding: 5px 0 9px;
    cursor: pointer;
    text-align: center;
    border-radius: 6px;
}

.day-start {
    grid-column-start: 4;
}

.price-information {
    padding: 12px 22px;
    z-index: 1;
    border-top: 1px solid #e7e7e7;
    margin: 0 -10px;
    height: 50px;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
}

.price-information>p {
    margin: 0;
    position: relative;
    padding-left: 15px;
    color: #2b2b2b;
    font-size: 13px;
    vertical-align: top;
}