
.booking-widget{
    display: flex;
    background-color: #fff;
    margin:5px 15px 0;
    border-radius: 4px;
    font-size: 17px;
}

.destination-input{
    border: none;
    height: 21px;
    font-size: 17px;
    padding: 0px;
    outline: none;
    box-shadow: none;
    width: 100%;
}

.booking-widget{
    padding: 0px 15px;
}

.from-destination-container,.to-destination-container{
    width: 170px;
    border-right: 1px solid #e7e7e7;
    margin-right: 20px;
    padding-right: 20px;
}

.to-destination-container{
    margin-right: 10px;
}

.destination{
    padding: 20px 0px;
}

.dates{
    width: 145px;
    border-right: 1px solid #e7e7e7;
    margin-right: 10px;
    padding: 20px 0;
    cursor: pointer;
    position: relative;
}


.details-container{
    position: absolute;
    z-index: 1;
    border-radius: 4px;
    border: 1px solid #e7e7e7;
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 50%);
    background-color: #fff;
}

.details-arrows{
    position: absolute;
    background-color: inherit;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    top:-10px;
    box-shadow: -1px -1px 0 rgb(0 0 0 / 10%);
}


.plus-button{
    background-image: url(https://d1u069vtk5j1z6.cloudfront.net/flightswebservice/build/desktop/images/desktop_common_icons.a4fd6515.png);
    position: absolute;
    cursor: pointer;
    right:9px;
    top:calc(50% - 11px);
    background-position: -101px -41px;
    width: 17px;
    height: 18px;
}

.return-date{
    color: #767676;
}

.remove-return-date{
    position: absolute;
    background-image: url(https://d1u069vtk5j1z6.cloudfront.net/flightswebservice/build/desktop/images/desktop_common_icons.a4fd6515.png);
    height: 14px;
    width: 14px;
    background-position: 0 -94px;
    right: 9px;
    top:calc(50% - 7px);
    cursor: pointer;
}

.flight-details{
    width: 200px;
    padding: 20px 8px 20px 0;
    position: relative;
}

.details-submission{
    display: flex;
    width: 110px;
    padding: 16px 0;
}
.details-submission>button{
    font-size: 13px;
    color: #111111;
    padding: 4px 30px;
    background-color: rgb(192, 145, 27);
    border-radius: 2px;
    border: none;
    cursor: pointer;
}

.details-submission>button:active{
    transform: scale(0.98);
    background-color: rgb(157, 120, 26);
}

.main-text{
    padding-left:15px;
    vertical-align: top;
    line-height: 21px;
    width: 110px;
}

.mini-text,.day-text{
    padding: 2px 5px;
    font-size: 11px;
    color: #767676;
}

.mini-text{
    border: 1px solid #ccc; 
}